:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #189c07;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #ffffff;
  --background-color-main: #f5f4fa;
  --background-color-accent: #2f303a;
  --logo-text-main: #000000;
  --social-logo: #afb1b8;
  --section-pt: 60px;
  --section-pb: 60px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.container {
  padding: 30px 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.questions-answers .container {
  padding-top: 60px;
  text-align: center;
}

.about-us .container {
  padding: 100px 100px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/about-us.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .questions-answers .container {
    padding-right: 100px;
    padding-left: 100px;
  }
  .question-list__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  top: 20px;
  left: 15px;
  display: block;
  margin-right: 20px;
  fill: var(--accent-color);
}

.modal-btn {
  max-width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  cursor: pointer;
  background-color: rgba(14, 150, 14, 0.3);
  border-radius: 3px;
  border: 2px solid var(--accent-color);
}

.modal-btn:hover, .modal-btnfocus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.modal-btn .dark {
  color: var(--accent-text-color);
}

.modal-btn .light {
  color: var(--logo-text-main);
}

.modal-form-btn {
  min-width: 200px;
  padding: 10px 32px;
  align-self: center;
  color: var(--accent-text-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.section-title {
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--logo-text-main);
}

.advantages .section-title {
  color: var(--accent-text-color);
}

.invitation .section-title {
  color: var(--accent-text-color);
}

.signup .section-title {
  color: var(--accent-text-color);
}

.about-us .section-title {
  color: var(--accent-text-color);
}

.questions-answers .section-title {
  margin-bottom: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 1;
  overflow-y: scroll;
  text-align: center;
  background-color: var(--accent-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link {
  color: var(--main-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
}

.mobile-menu__item {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.current.mobile-menu__link {
  color: var(--accent-color);
}

.mobile-menu-close-btn,
.burger-btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 19px;
  height: 19px;
}

.burger-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 16px;
  height: 24px;
}

.mobile-contacts-list {
  margin-top: 270px;
}

.mobile-contacts-list__tel {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts-list__mail {
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-social-list {
  display: flex;
  justify-content: left;
  margin-left: -10px;
}

.mobile-social-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.mobile-social-list__link {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
  }
  .header-contacts {
    display: block;
    margin-left: auto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header-contacts__mail {
    display: block;
    margin-bottom: 10px;
    fill: var(--secondary-text-color);
  }
  .header-contacts__tel {
    display: block;
    fill: var(--secondary-text-color);
  }
  .header-contacts__link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
  .header-contacts__icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .header-contacts__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .header-contacts__mail {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.signup-form__input {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  padding-left: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--accent-text-color);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-form__input:focus {
  border-color: var(--accent-color);
  background-color: rgba(14, 150, 14, 0.3);
}

.signup-form__input._error {
  box-shadow: 0 0 15px red;
}

.signup-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-text-color);
}

.form-suptitle {
  font-size: 20px;
  text-transform: uppercase;
}

.agreement_text {
  color: var(--accent-text-color);
}

.checkbox {
  display: block;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label {
  font-size: 16px;
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 21px;
  height: 20px;
  background-color: var(--background-color-main);
  border-radius: 4px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .checkbox__label::before {
    flex: 0 0 24px;
    height: 24px;
  }
}

.checkbox__label::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 3px;
  background-color: var(--accent-color);
  border-radius: 4px;
  transform: scale(0);
  transition: transform 0.2s ease 0s;
}

@media screen and (min-width: 768px) {
  .checkbox__label::after {
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .social-list__footer {
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--social-logo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.footer .social-list__link {
  color: var(--accent-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.social-list__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  color: var(--accent-text-color);
}

.footer .social-list__icon {
  fill: currentColor;
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 70px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.hero-advs {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  line-height: 1.6;
  color: var(--accent-text-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 1;
  background-color: var(--accent-color);
}

.navigation-bar {
  display: none;
}

.home-svg {
  width: 35px;
  height: 35px;
  padding: 2px 2px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.burger-icon {
  position: absolute;
  top: 20px;
  right: 15px;
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .navigation-bar__item {
    margin-right: 40px;
  }
  .navigation-bar__link {
    color: var(--accent-text-color);
  }
}

.about-us {
  padding-top: 60px;
  text-align: center;
}

.about-us .section-title {
  text-align: left;
}

.about-us__subtitle {
  padding-bottom: 20px;
  text-align: left;
}

.about-us-text {
  text-align: left;
  line-height: 1.6;
}

.about-info {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: start;
  font-size: 12px;
  line-height: 1.75;
}

@media screen and (min-width: 1200px) {
  .about-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.advantages {
  background-color: rgba(202, 255, 197, 0.363);
}

.advantages-list__item {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top left;
  line-height: 1.4;
}

.advantages-list__item.freedom {
  background-image: url("../images/markers/freedom.svg");
}

.advantages-list__item.capital {
  background-image: url("../images/markers/capital.svg");
}

.advantages-list__item.easy {
  background-image: url("../images/markers/easy.svg");
}

.advantages-list__item.savings {
  background-image: url("../images/markers/savings.svg");
}

.advantages-list__item.income {
  background-image: url("../images/markers/income.svg");
}

.advantages-list__item.earnings {
  background-image: url("../images/markers/earnings.svg");
}

.advantages-list__about {
  line-height: 1.6;
}

.list-item-title {
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.advantages-list-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
}

.picture-wrapper-1 {
  padding-bottom: 100px;
  padding-top: 100px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/advantages/patricia-zavala-dsFn0bnvziM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.picture-wrapper-2 {
  padding-bottom: 100px;
  padding-top: 100px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/advantages/agnieszka-boeske-cFdH_t5xBxk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .advs-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0;
    flex-basis: calc(100% / 2 - 30px);
  }
  .advs-section-2 {
    display: flex;
    flex-direction: row-reverse;
  }
  .picture-wrapper-1,
  .picture-wrapper-2 {
    min-width: 50%;
    height: 350px;
  }
  .advantages-list-wrapper {
    max-width: 50%;
  }
}

.invitation {
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/F100019168.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-suptitle {
  color: var(--accent-text-color);
}

.signup-form__input {
  margin-bottom: 10px;
}

.beliefs-list__img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  align-self: center;
}

.beliefs-list__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.beliefs-list__about {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .beliefs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .beliefs-list__item {
    margin-left: 20px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.teamwork {
  background-color: rgba(202, 255, 197, 0.363);
}

.teamwork-advs {
  text-align: center;
}

.teamwork-advs__item {
  margin-bottom: 30px;
}

.team-img {
  object-fit: cover;
  width: 200px;
  margin: 0 auto;
}

.teamwork-advs__subtitle {
  margin-top: 20px;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.teamwork-advs__about {
  line-height: 1.8;
}

.amature-list__title,
.profs-list__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.amature-list,
.profs-list {
  line-height: 2;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .teamwork-advs {
    display: flex;
  }
  .teamwork-advs__item {
    width: 200px;
    flex-basis: calc(100% / 3);
  }
}

.signup {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/signup.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.invitation-form {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.message {
  display: block;
  resize: none;
  box-sizing: border-box;
  min-height: 80px;
}

.questions-answers {
  padding-top: 40px;
}

.question-list__item {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

.question-list__item:nth-child(2n + 1) {
  background-color: rgba(202, 255, 197, 0.363);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title-about {
  display: block;
  margin-bottom: 30px;
}

.questions-list__subtitle {
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  font-weight: 900;
}

.questions-list__answer {
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.5;
}
/*# sourceMappingURL=questions.css.map */