.about-us {
  padding-top: 60px;
  text-align: center;

  & .section-title {
    text-align: left;
  }
}

.about-us__subtitle {
  padding-bottom: 20px;
  text-align: left;
}

.about-us-text {
  text-align: left;
  line-height: 1.6;
}

.about-info {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: start;
  font-size: 12px;
  line-height: 1.75;
}
