.advantages {
  background-color: rgba(202, 255, 197, 0.363);
}

.advantages-list {
  background: url(images/piggy-bank.png) no-repeat 0 4px;
}

.list-item-title {
  margin-bottom: 10px;
  margin-top: 10px;
}
