.beliefs-list__img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  align-self: center;
}

.beliefs-list__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.beliefs-list__about {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .beliefs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .beliefs-list__item {
    margin-left: 20px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
