.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
  // padding-top: 10px;
  // padding-bottom: 10px;
  background-color: var(--accent-color);
}

.navigation-bar {
  display: none;
}

@media screen and (min-width: 480px) {
  .navigation-bar {
    display: block;
  }
}
