.team-list__item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-list__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 70vw;
}

.team-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--accent-color);
}
